* { 
  margin: 0; 
  padding: 0;
}

body {
  font-family: serif;
}

header {
  display: flex;
  width: 100%;
  height: 60px;
  background-color: #000;
  color:  #fff;
  align-items: center;
  position: fixed;
  top: 0;
}

main {
  margin-top: 60px;
}

header a:link { color: #fff; }
header a:visited { color: #fff; }
header a:active { color: #fff; }

.menu-item {
  list-style: none;
  display: inline-block;
  padding: 10px;
}

.title {
  margin-right: auto;
}

/* モバイル適用スタイル */
@media screen and ( min-width:480px )
{

}